In [288]:
import tabula
from tabula.io import read_pdf
import pandas as pd
import glob
from itertools import chain
from joblib import Parallel, delayed
import time
for handler in logging.root.handlers[:]:
    logging.root.removeHandler(handler)

logging.basicConfig(level=logging.DEBUG,
                    format='%(asctime)s %(message)s',
                    datefmt='%a, %d %b %Y %H:%M:%S',
                    filename= 'log.txt',
                    filemode='w')

console = logging.StreamHandler()
console.setLevel(logging.INFO)
# add the handler to the root logger
logging.getLogger().addHandler(console)
logging.info("Cases:")

Cases:

In [277]:
def strsplit(x):
    return(x.split(" "))

In [278]:
path=r"*.pdf"
files = glob.glob(path)

In [279]:
len(tables), len(files)

(9, 6759)

In [292]:
l=[]

def preprocess(i):
    start=time.time()
    tables=read_pdf(i,pages="all")
    state=tables[0].iloc[0,0].split(":")[1].lstrip().capitalize()
    district=tables[0].iloc[0,1].split(":")[1].lstrip().capitalize()
    Class=tables[0].iloc[1,0].split(":")[1].lstrip().capitalize()
    subject=tables[0].iloc[1,1].split(":")[1].lstrip().capitalize()
    school=tables[0].iloc[2,0].split(":")[1].lstrip().capitalize()
    students=tables[0].iloc[2,1].split(":")[1].lstrip().capitalize()
    no_boys=int(tables[1].iloc[1,1])
    no_girls=int(tables[1].iloc[1,-3])
    no_rural=int(tables[2].iloc[-1,1])
    no_urban=int(tables[1].iloc[1,-3])
    no_sc=int(tables[3].iloc[-1,1])
    no_st=int(tables[3].iloc[-1,3])
    no_obc=int(tables[3].iloc[-1,5].split(" ")[0])
    no_gen=int(tables[3].iloc[-1,7].split(" ")[0])
    ld=int(tables[4].iloc[-1,1])
    vi=int(tables[4].iloc[-1,2])
    hi=int(tables[4].iloc[-1,3])
    sld=int(tables[4].iloc[-1,4])
    Id=int(tables[4].iloc[-1,5])
    Oth=int(tables[4].iloc[-1,6])
    disability_dict={"LD":ld,"VI":vi,"HI":hi,"S&Ld":sld,"ID":Id,"OTHER":Oth}
    try:
        govt=int(tables[5].iloc[-1,1])
        govt_aided=int(tables[5].iloc[-1,3])
    except Exception as e:
        govt=int(tables[5].iloc[-1,1])
        govt_aided=int(tables[5].iloc[-1,-1].split(" ")[0])
    performance_list=list(chain(*list(map(strsplit,tables[6].iloc[-1,:].to_list()))))
    ovrall=float(performance_list[0])
    per_male=float(performance_list[1])
    per_female=float(performance_list[2])
    per_rural=float(performance_list[3])
    per_urban=float(performance_list[4])
    per_govt=float(performance_list[5])
    per_aided=float(performance_list[6])
    per_sc=float(performance_list[7])
    per_st=float(performance_list[8])
    per_obc=float(performance_list[9])
    per_gen=float(performance_list[10])
    xy=tables[7].dropna()
    x=xy.iloc[1:,0].dropna().to_list()
    y=list(map(float,xy.iloc[1:,-1].dropna().to_list()))
    params={}
    for i,j in zip(x,y):
        params[i]=j
    params
    performance={"per_overall":ovrall,"per_male":per_male,"per_female":per_female,
                "per_rural":per_rural,"per_urban":per_urban,"per_govt":per_govt,
                "per_aided":per_aided,"per_sc":per_sc,"per_st":per_st,"per_obc":per_obc,"per_gen":per_gen}    
    frame={"State":[state],"District":[district],"Class":[Class],"Subject":[subject],"No_School":[school],"No_Students":[students],
          "No_Boys":no_boys,"No_Girls":no_girls,"No_Rural":no_rural,"No_Urban":no_urban,
          "No_SC":no_sc,"No_ST":no_st,"No_OBC":no_obc,"No_GEN":no_gen,
          "GOVT":govt,"GOVT_AIDED":govt_aided}
    frame.update(disability_dict)
    frame.update(performance)
    frame.update(params)
    rang=list(chain(*list(map(strsplit,tables[8].iloc[-1,:].to_list()))))
    range_below30=int(rang[0])
    range_30_50=int(rang[2])
    range_50_75=int(rang[4])
    rang_above_75=int(rang[6])
    range_performance={"range_below30":range_below30,"range_30_50":range_30_50,
                      "range_30_50":range_30_50,"range_50_75":range_50_75,
                      "range_above_75":rang_above_75}
    frame.update(range_performance)
    end=time.time()
    run=end-start
    logging.info("Cases:")
    logging.info("Case No. ",str(i) ,"and time taken is ",str(run))
    return (pd.DataFrame(frame))

In [295]:
results = Parallel(n_jobs=2)(delayed(preprocess)(i) for i in files)

KeyboardInterrupt:

In [294]:
pd.concat(results)

,State,District,Class,Subject,No_School,No_Students,No_Boys,No_Girls,No_Rural,No_Urban,...,E313,E314,range_below30,range_30_50,range_50_75,range_above_75,M302,M311,M317,M318
0,Telangana,Adilabad,3,Evs,58,813,365,448,703,448,...,19.18,54.37,204,227,274,108,NaN,NaN,NaN,NaN
0,Telangana,Adilabad,3,Language,58,813,365,448,703,448,...,NaN,NaN,176,227,297,113,NaN,NaN,NaN,NaN
0,Telangana,Adilabad,3,Mathematics,58,813,365,448,703,448,...,NaN,NaN,201,203,256,153,63.71,26.52,55.97,46.21

In [208]:
range_list=list(chain(*list(map(strsplit,tables[8].iloc[-1,:].to_list()))))
range_list

['612', '47.04', '464', '35.66', '183', '14.07', '42', '3.23']

In [210]:
rang=list(chain(*list(map(strsplit,tables[8].iloc[-1,:].to_list()))))
range_below30=int(rang[0])
range_30_50=int(rang[2])
range_50_75=int(rang[4])
rang_above_75=int(rang[6])

In [116]:
no_sc=int(tables[3].iloc[-1,1])
no_st=int(tables[3].iloc[-1,3])
no_obc=int(tables[3].iloc[-1,5].split(" ")[0])
no_gen=int(tables[3].iloc[-1,7].split(" ")[0])

55

In [144]:
tables[4].iloc[1:,1:]

  NaN NaN NaN   NaN NaN  NaN
1  LD  VI  HI  S&LD  ID  Oth
2   1   2   1     1   2    0

In [78]:
import pandas as pd
pd.DataFrame(frame)

       State  District Class Subject No_School No_Students
0  Telangana  Adilabad     3     EVS        58         813

In [15]:
tables[2]

   AREA Unnamed: 0  Rural Unnamed: 1 Unnamed: 2  Urban Unnamed: 3
0   NaN     Number    NaN          %     Number    NaN          %
1   NaN        703    NaN      86.47        110    NaN      13.53

In [16]:
tables[3]

,Unnamed: 0,SC,Unnamed: 1,ST,Unnamed: 2,OBC,Unnamed: 3,GEN,Unnamed: 4
0,CATEGORY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Number,%,Number,%,Number %,NaN,Number,%
2,NaN,143,17.59,373,45.88,246 30.26,NaN,51,6.27

In [17]:
tables[4]

   CWSN Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0   NaN         LD         VI         HI       S&LD         ID        Oth
1   NaN          1          2          2          1          2          1

In [18]:
tables[5]

   Management Government Unnamed: 0 Government-aided Unnamed: 1
0         NaN     Number          %           Number          %
1         NaN        791      97.29               22       2.71

In [19]:
tables[6]

  Unnamed: 0         Average Performance of Students in EVS (%) Unnamed: 1
0        NaN                Gender Area Management Social Group        NaN
1    Overall                                                NaN        NaN
2        NaN      Male Female Rural Urban Govt. Aided SC ST OBC        GEN
3      48.40  47.27 49.32 48.09 50.36 48.32 51.21 49.04 46.7...      57.52

In [199]:
x=tables[7].iloc[1:,0].dropna().to_list()
y=list(map(float,tables[7].iloc[1:,-1].dropna().to_list()))
params={}
for i,j in zip(x,y):
    params[i]=j
params

{'SST605': 49.12,
 'SST610': 16.87,
 'SST625': 28.07,
 'SST703': 36.43,
 'SST704': 37.42,
 'SST722': 31.9,
 'SST726': 48.84,
 'SST731': 43.45,
 'SST733': 35.89,
 'SST734': 38.83,
 'SST802': 44.35,
 'SST805': 33.59,
 'SST807': 42.02,
 'SST809': 32.05,
 'SST810': 32.05,
 'SST815': 24.85,
 'SST816': 28.21,
 'SST818': 22.44,
 'SST823': 19.83,
 'SST827': 24.85,
 'SST831': 26.98,
 'SST833': 48.23}

In [189]:
tables[7].iloc[:,-1].dropna()

0     Performance(%)
1              49.12
2              16.87
3              28.07
4              36.43
5              37.42
6              31.90
7              48.84
8              43.45
9              35.89
10             38.83
11             44.35
12             33.59
13             42.02
14             32.05
15             32.05
16             24.85
17             28.21
18             22.44
19             19.83
20             24.85
21             26.98
22             48.23
Name: Average, dtype: object

In [21]:
tables[8]

,Unnamed: 0,Range of Performance of Students who Answered Correctly,Unnamed: 1
0,Below 30%,30% - 50% 50% - 75% Above 75%,NaN
1,Number,% Number % Number % Number,%
2,204 25.09,227 27.92 274 33.70 108,13.28

In [37]:
tables[6]

  Unnamed: 0         Average Performance of Students in EVS (%) Unnamed: 1
0        NaN                Gender Area Management Social Group        NaN
1    Overall                                                NaN        NaN
2        NaN      Male Female Rural Urban Govt. Aided SC ST OBC        GEN
3      48.40  47.27 49.32 48.09 50.36 48.32 51.21 49.04 46.7...      57.52

In [38]:
tables[8]

,Unnamed: 0,Range of Performance of Students who Answered Correctly,Unnamed: 1
0,Below 30%,30% - 50% 50% - 75% Above 75%,NaN
1,Number,% Number % Number % Number,%
2,204 25.09,227 27.92 274 33.70 108,13.28

In [41]:
x=tables[8].iloc[-1,0]+" "+tables[8].iloc[-1,1]+" "+tables[8].iloc[-1,2]
y=tables[8].iloc[0,0]+" "+tables[8].iloc[0,1]

In [42]:
x

'204 25.09 227 27.92 274 33.70 108 13.28'

In [43]:
x.split(' ')

['204', '25.09', '227', '27.92', '274', '33.70', '108', '13.28']

In [46]:
y

'Below 30% 30% - 50% 50% - 75% Above 75%'

In [53]:
na.omit(tables[7].iloc[:,0])

NameError: name 'na' is not defined

In [54]:
import pandas

In [56]:
na.omit(tables[7].iloc[:,0])

1     Outcomes
3         E302
5         E303
8         E304
12        E305
15        E307
18        E309
21        E310
24        E311
26        E313
28        E314
Name: Learning, dtype: object

In [57]:
tables[7].iloc[:,-1].dropna()

1     Performance(%)
3              38.38
5              45.56
8              51.76
12             54.37
15             51.90
18             38.13
21             44.77
24             39.98
26             19.18
28             54.37
Name: Average, dtype: object

In [296]:
with file.open("test1.txt","w") as f:
    f.write("123")
    f.close()

NameError: name 'file' is not defined

In [297]:
f=open("log.txt","w")
f.write(i)
f.close()